/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-2co {
  background-image: url(sprite.png);
  background-position: 0px -5791px;
  width: 98px;
  height: 36px;
}
.icon-amex {
  background-image: url(sprite.png);
  background-position: 0px -2088px;
  width: 75px;
  height: 26px;
}
.icon-comm {
  background-image: url(sprite.png);
  background-position: 0px -10273px;
  width: 87px;
  height: 89px;
}
.icon-comp {
  background-image: url(sprite.png);
  background-position: 0px -10862px;
  width: 87px;
  height: 89px;
}
.icon-diners {
  background-image: url(sprite.png);
  background-position: 0px -1563px;
  width: 97px;
  height: 25px;
}
.icon-discover {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 98px;
  height: 16px;
}
.icon-email {
  background-image: url(sprite.png);
  background-position: 0px -5260px;
  width: 31px;
  height: 31px;
}
.icon-jcb {
  background-image: url(sprite.png);
  background-position: 0px -4198px;
  width: 40px;
  height: 31px;
}
.icon-mastercard {
  background-image: url(sprite.png);
  background-position: 0px -1039px;
  width: 139px;
  height: 24px;
}
.icon-paypal {
  background-image: url(sprite.png);
  background-position: 0px -2614px;
  width: 104px;
  height: 26px;
}
.icon-qual {
  background-image: url(sprite.png);
  background-position: 0px -11451px;
  width: 87px;
  height: 90px;
}
.icon-scissors {
  background-image: url(sprite.png);
  background-position: 0px -3669px;
  width: 38px;
  height: 29px;
}
.icon-shape-blue {
  background-image: url(sprite.png);
  background-position: 0px -9125px;
  width: 74px;
  height: 74px;
}
.icon-shape-orange {
  background-image: url(sprite.png);
  background-position: 0px -9699px;
  width: 74px;
  height: 74px;
}
.icon-skrill {
  background-image: url(sprite.png);
  background-position: 0px -3140px;
  width: 58px;
  height: 29px;
}
.icon-step1 {
  background-image: url(sprite.png);
  background-position: 0px -7438px;
  width: 61px;
  height: 61px;
}
.icon-step2 {
  background-image: url(sprite.png);
  background-position: 0px -8561px;
  width: 51px;
  height: 64px;
}
.icon-step3 {
  background-image: url(sprite.png);
  background-position: 0px -6878px;
  width: 60px;
  height: 60px;
}
.icon-step4 {
  background-image: url(sprite.png);
  background-position: 0px -7999px;
  width: 62px;
  height: 62px;
}
.icon-toll {
  background-image: url(sprite.png);
  background-position: 0px -4729px;
  width: 31px;
  height: 31px;
}
.icon-user {
  background-image: url(sprite.png);
  background-position: 0px -6327px;
  width: 39px;
  height: 51px;
}
.icon-visa {
  background-image: url(sprite.png);
  background-position: 0px -516px;
  width: 71px;
  height: 23px;
}
