.fall{
  position:relative;
.cloud{
  background-image: url(../img/b-cloud1.png);
  background-repeat: no-repeat;
  top: 165px;
  z-index: 3;
  position: absolute;
  width: 120px;
  height: 53px;
}
.boy{
  background-image: url(../img/404.png);
  background-repeat: no-repeat;
  background-position: bottom left ;
  bottom: -30px;
  z-index: 3;
  position: absolute;
  width: 425px;
  height: 465px;

}
  .slideInLeft {
    animation-name: slideInLeft;
    animation-delay: 400;
    animation-duration: 1.5s;
  }


  @keyframes slideInLeft {
    0% {
      transform: translate3d(-270%,0, 0);
      visibility: visible;
    }

    100% {
      transform: translate3d(0, 0, 0);
    }
  }
.clouds{
  position: relative;
  .cloud-mid{
    background-image: url(../img/cloud.png);
    background-repeat: no-repeat;
    top:65px;
    z-index: 3;
    position: absolute;
    width: 170px;
    height: 53px;
  }
  .cloud-bot{
    background-image: url(../img/cloud2.png);
    background-repeat: no-repeat;
    top:170px;
    left:417px;
    z-index: 3;
    position: absolute;
    width: 170px;
    height: 53px;
  }

}
.con{
  text-align: center;
  position: relative;
  margin-top:25%;
  padding:10%;
  .big-title{
    color:$p2;
    font-size:5.5rem;
    font-weight:800;
    text-transform: uppercase;
  }
  .mb{
    margin-bottom:40px;
  }
.btn-d{
  border-radius:3px;
  padding:10px 70px;
  margin:2%;
}

}
}