.blogs{
  padding:5% 0;
  .rebuild{padding-top:17px;}
  .menu-blog{
    .tabs.tabs-transparent .tab a{
      color:$p1;
    }
    .tabs-transparent .tab a.active, .tabs.tabs-transparent .tab a:hover {
      color:$p1l1;
    }
    .tabs .indicator {
      position: absolute;
      bottom: 0;
      height: 2px;
      background-color: $p1;
      will-change: left,right;
    }
  }
  .soc{
    display: inline-block;
    width:50px;
    height:50px;
    border-radius:50%;
    background-color: $p1d1;
    margin:10% 0;
    color:$white;
    text-align: center;
    i{
      padding-top:24%;
    }
  }
  .like{
    display: inline-block;
    margin-top:100%;
  .likes {
    border: 1px solid $p1;
    color: $p1;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10% 0;
    text-align: center;
    padding-top:10%;
  }
  }
  img{
    width:98%;
  }
  .blog-link{
    text-transform: uppercase;
    color:$p2;
    &:after{
      content: '\f0da';
      font-family: $fontawesome;
      padding-left:1%;
    }
  }
}