.li-faq{
  background-color: $p1l3;
  margin-bottom:5px;
  .collapsible-header{
    border:none;
  }

  &:before{
    content: '\f055';
    font-family: $fontawesome;
    color:  $p1;
    font-size: 1.7rem;
    padding: 2px;
    margin-right: 8px;
    vertical-align: middle;
  }
}

.collapsible{
  border:none;
  box-shadow:none;
  -webkit-box-shadow:none;
}

.collapsible-body{
  border:1px solid $p1l1;
}