//FOOTER SECTION
.footer{
  background-color: $p1l1;
  .footer-h{
    border-bottom: 1px solid $white;
    color:$white;
    background-color: $p1l1;
    padding:15px 0;
    h5{color:$white;
    padding:5%;}
    p{
      color:$white;
      text-align: left;
      font-size:1.2rem;
    }
    ul{
      width:100%;
      text-align:right;
      padding-top:15px;
    li{
      display: inline-block;
      padding:0 0 0 4%;
      text-transform: uppercase;
      font-size:1.1rem;
      a{
        color:$white;
        &:hover{color:$p1d3;}
      }
    }
    }

    .foo-li{
      text-align: left;
     li {
       padding:1% 0;
       text-transform: none;
       font-size:1.2rem;

     }
    }



  }

  .copyright{
    color: $white;
    font-size:1.2rem;
    padding-bottom:20px;
    text-align: center;
  }
  .social{
    margin:0;
    padding-bottom:20px;
    li{
      display: inline;
      padding-left:2%;
      text-align: center;
      a{
        border:1px solid $white;
        border-radius:50%;
        display: inline-block;
        width:32px;
        height:32px;
        color:$white;
        &:hover{
          color:$p1d2;
          border:1px solid $p1d1;
        }
        i{
          padding-top: 7px;
        }
      }
    }
  }

  .toll{
    margin:0;
    padding-bottom:20px;
    color:$white;
    font-size:1.2rem;
    .free {
      display: inline-block;
      vertical-align:top;
      padding-top:5px;
      a {
        color: $white;
        &:hover {
          color: $p1d2;
        }
      }

    }
  }


}

