.header{
  .header-top {
    .row {
      margin-bottom: 0;
    }
    background-color: $p1;
    padding: 16px 0;
    .logo a {
      color: $white;
      display: flex;
      align-items: center;
      font-size: 2.4rem;
      line-height: 1;
      .logo_company-name {
        padding-left: 2%;
      }
      span {
        color: $p3;
        text-transform: uppercase;
        font-weight: 700;
      }
      .sub {
        font-size: 1.3rem;
        text-transform: none;
        color: #fff;
        font-weight: 300;
      }
      .logo_subtitle {
        line-height: 1;
        margin: 0;
        padding: 0;
        display: block;
        font-size: 1.3rem;
        color: #fff;
        text-transform: capitalize;
        font-weight: 300;
      }
    }
    //a

    .navigation {
      padding-top: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      ul{
        li{
          a{
            margin-right:2%;
            font-size: 1.2rem;
          }
        }
      }

      .round{
        display: flex;
        color:$white;
        border-radius: 50%;
        border: 1px solid $white;
        padding:8px 9px;
        margin-right:10px;
        &:hover{
          color:$p1d2;
          border:1px solid $p1d1;
        }
      }
      
      //dropdown
      .dropdown-content{
        margin-top:57px;
      }
      .dropdown-content li{
        padding:0;
        text-align: center;
        border-bottom:1px solid $p1d1
      }
      .dropdown-content li>a, .dropdown-content li>span {
        font-size: 1.3rem;
        display: block;
        text-transform: uppercase;
        color: $white;
        background-color: $p1;
        margin:0;
        &:hover{
          background-color:$p1d1;
        }
      }
      
      .menu-burger{
        text-align: center;
        text-transform: uppercase;
      }
      .nav-secondary {
        display: inline-block;
        text-transform: uppercase;
        color: #fff;
        li{
          display: inline-block;
          font-family: $f3;
          font-weight: 500;
          font-size: 1.2rem;
        }
        .services-item , .about-item {
          cursor: pointer;
          display: inline-block;
          margin-right: 5px;
          padding:0 10px;
          color: #fff;
          &:after {
            content: '\f0d7';
            color: #fff;
            font-family: $fontawesome;
            margin-left: 10px;
            font-size: 1rem;
            vertical-align: text-bottom;
          }
        }
        .hiw a{
          padding:0 10px;
          cursor: pointer;
          display: inline-block;
          margin-right: 30px;
          color: #fff;
        }
        .button {
          width: 100px;
          margin-right: 20px;
          font-weight: 600;
          text-transform: uppercase;
        }

      }
      //BURGER BUTTON
      .burger{
        color:white;
        margin-left:5px;
      }

      }
  }
  .header-mid{
  position: relative;
  background-color: $p1l3;
  background-image: url(../img/header-cloud.png), url(../img/header-clouds.png), url(../img/town.png);
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: top 35% right 5%, top 15% right 35%, bottom left;
  .header-desc{
  padding-top: calc(100% - 90%);
  .hd-name{
  padding-bottom: 40px;
    p{
      font-size: 4.7rem;
      font-weight: 700;
      line-height: 1.3;
    }
    span{
      color: $p1;
    }
  }

  .hd-description{
  width: 70%;
  padding: 40px 0;
  border-top: 1px solid #fff;
  position: relative;
    p{
      font-size: 2rem;
    }
  }
  .hd-line{
  width: 50px;
  height: 3px;
  background-color: $p2;
  position: absolute;
  top: -2px;
  left: 0;
  }
  //  ANIMATED LINE
    .slideInline {
      animation-name: slideInline;
      animation-delay: 200;
      animation-duration: 1.5s;
    }

    @keyframes slideInline {
      0%,100% {
        transform: translate3d(-100%,0,0);
        opacity:0;
      }

      50% {
        transform: translate3d(800%, 0, 0);
        opacity:1;
      }
    }

  .hd-button{
  width: 225px;
  }
  }
  .girl{
  background-image: url(../img/girl.png);
  background-repeat: no-repeat;
  bottom: 38px;
  z-index: 3;
  position: absolute;
  width: 325px;
  height: 465px;
  }

  //  Girl Animation
    .slideInRight {
      animation-name: slideInRight;
      animation-delay: 400;
      animation-duration: 1.5s;
    }


    @keyframes slideInRight {
      from {
        transform: translate3d( 100%, 0,0);
        visibility: visible;
      }

      to {
        transform: translate3d(0, 0, 0);
      }
    }


  }

  .header-footer {
    .header-panel {
      display: flex;
      padding: 30px;
      background-color: $p1;
      position: relative;
      top: -70px;
      z-index: 2;
      justify-content: space-between;
      align-items: center;

      .caret {
        display: none;
      }
      .arrow {
        color: black;
        position: absolute;
        right: 5%;
        top: 0;
        bottom: 6px;
        height: 10px;
        margin: auto 0;
        font-size: 10px;
        line-height: 10px;
        z-index: 33;
        vertical-align: middle;
        pointer-events: none;
      }
      .input-field {
        width: 18%;
        margin: 0;
        input {
          width: 100%;
          height: 50px;
          margin: 0;
          box-sizing: border-box;
        }
        select {
          width: 100%;
          height: 50px;
          margin: 0;
          box-sizing: border-box;
          background-color: #fff;
          border: none;
        }
        label {
          color: white;
          font-size: 1.2rem;
        }
        .select-wrapper + label {
          position: absolute;
          top: -29px;
          font-size: 1.2rem;
        }

        .btn2 {
          width: 100%;
        }
      }
      .number-pages {
        position: relative;
        input {
          text-align: center;
        }

        span {
          display: block;
          padding: 18px 10% 0 10%;
          text-align: center;
          position: absolute;
          height: 50px;
          color: $p1;
        }

        .plus {
          top: 0;
          left: 0;
          border-right: 1px solid $p1;
          &:hover {
            border-radius: 3px 0 0 3px;
            background-color: $p1d1;
            color: $white;
          }
        }
        .minus {
          top: 0px;
          right: 0;
          border-left: 1px solid $p1;
          &:hover {
            background-color: $p1d1;
            color: $white;
            border-radius: 0 3px 3px 0;
          }
        }
      }

    }

    @media (max-width: 801px) {
     .header-panel{
      display: flex;
      flex-direction: column;
      padding: 30px;
      justify-content: space-between;
      align-items: center;
      .input-field {
        width: 100%;
        margin: 0;
        input {
          width: 100%;
          height: 50px;
          margin: 0;
          box-sizing: border-box;
          margin-bottom:20px;
        }
      }
    }
  }
  }

}

//second-section

.machin{
  width:100%;
  height:41.5rem;
  margin:0 auto;
  background-color: $p1l3;
  background-image: url(../img/img.png);
  background-repeat: no-repeat;
  background-position: bottom center;
}

//ADVANTAGES SECTION
.advantages{
  background-color: $p1l1;
  background-image: url(../img/advantages/advantage1.png), url(../img/advantages/advantage2.png), url(../img/advantages/advantage3.png), url(../img/advantages/advantage4.png), url(../img/advantages/advantage5.png), url(../img/advantages/advantage6.png), url(../img/advantages/advantage7.png), url(../img/advantages/advantage8.png), url(../img/advantages/advantage9.png), url(../img/advantages/advantage10.png), url(../img/advantages/advantage11.png), url(../img/advantages/advantage12.png), url(../img/advantages/advantage13.png), url(../img/advantages/advantage14.png), url(../img/advantages/advantage15.png);
  background-repeat: no-repeat;
  background-position: right 20% bottom 5%, right 35% bottom 5%, left 35% bottom 5%, left 15% bottom 5%, left 1% bottom 3%, left 10% bottom 35%, left 5% top 35%, left 1% top 3%, left 15% top 10%, left 30% top 5%, right 20% top 5%, right 5% top 25%, right 10% top 45%, right 5% bottom 35%, right 10% bottom 10%;
  .ad-title{
    @include ctext(center, 400, 5%);
    color:$white;
  }
.box{
  height:312px;
  background-color: $white;
  margin-bottom:5%;
  text-align: center;
  padding:10% 20%;
  .box-p{
    margin:0 auto;
    background-image: url(../img/sprite.png);
    width: 87px;
    height: 90px;
  }
  .p1{background-position: 0px -11451px;}
  .p2{background-position: 0px -10273px;}
  .p3{background-position: 0px -10862px;}
}

  .ad-btn{
    display: block;
    width:200px;
    margin:0 auto;
    margin-bottom:5%;
  }


}

//4-STEPS SECTION

.steps{
  .step-title{
    @include ctext(center, 400, 5%);
    height:100px;
  }
  .step-pic{
    width: 61px;
    height: 61px;
    margin:0 auto;
    background-image: url(../img/sprite.png);
  }
  .p1{background-position: 0px -7438px;}
  .p2{background-position: 0px -8561px;}
  .p3{background-position: 0px -6878px;}
  .p4{background-position: 0px -7999px;}

  .step-boxx{height:212px;
    margin-bottom:5%;
    text-align: center;
    padding:5% 10%;
  }

  .step-box{
    height:212px;
    margin-bottom:5%;
    border-right:2px solid #e9eff4;
    position:relative;
    text-align: center;
    padding:5% 10%;
    &:after {
      content: "";
      position: absolute;
      right:-14px;
      bottom: 45%;
      background-color: #fff;
      width: 25px;
      height: 25px;
      transform: rotate(45deg);
      border-top: 2px solid #e9eff4;
      border-right: 2px solid #e9eff4;
      box-shadow: 0 0 rgba(0,0,0,.1);

    }
  }

  @media (max-width: 600px){
    .step-box{
      height:212px;
      margin-bottom:5%;
      border-bottom:2px solid #e9eff4;
      border-right:none;
      position:relative;
      text-align: center;
      padding:5% 10%;
      &:after {
        content: "";
        position: absolute;
        left:248px;
        bottom:-14px;
        background-color: #fff;
        width: 25px;
        height: 25px;
        transform: rotate(135deg);
        border-top: 2px solid #e9eff4;
        border-right: 2px solid #e9eff4;
        box-shadow: 0 0 rgba(0,0,0,.1);

      }
    }
  }
}

//ROCKET SECTION

.rocket{position: relative;
  margin-bottom:300px;
  .dis-top{
    position: relative;
    background-color: $p1;
    padding-top: 50px;
    padding-bottom: 350px;
    overflow: hidden;
    &:before{
      content: "";
      position: absolute;
      bottom: 0px;
      z-index: 1;
      left: 0px;
      width:100%;
      height:373px;
      background-image: url(../img/clouds-r.png);
      background-repeat: no-repeat;
    }
.rocket-title{
  text-align: center;
  color:$white;
  font-weight:400;
  padding:5% 0 1% 0;
}
  .r-description{
    text-align: center;
    color:$white;
    font-size: 1.7rem;
    font-weight:400;

  }
    .shuttle{
      position: absolute;
      z-index: 77;
      bottom: 0;
      left: -300px;
      background-image: url(../img/rocket.png);
      background-repeat: no-repeat;
      width:226px;
      height:117px;
      animation-name: shuttle;
      animation-duration: 12s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      transform: rotate(10deg);
      animation-delay: 1s;
    }
    @keyframes shuttle{
  0%{
  left: -300px;}
  50%{
  transform: translateY(-1000px);
  left: 65%;}
     100%{
        transform: translateY(1000px);
        left: 90%;
       bottom:-300px;
       transform: rotate(90deg);
     }
    }

    .cloudz1{
       position: absolute;
       z-index: 1;
       top: 30px;
       left: -300px;
       background-image: url(../img/cloud.png);
       background-repeat: no-repeat;
       width:155px;
       height:69px;
      opacity: 0.4;
       animation-name: cloudz;
       animation-duration: 20s;
       animation-iteration-count: infinite;
       animation-timing-function: linear;
       animation-delay: 1s;

     }
    .cloudz2{
        position: absolute;
        z-index: 1;
        top: 100px;
        left: -300px;
        background-image: url(../img/cloud2.png);
        background-repeat: no-repeat;
        width:155px;
        height:69px;
        opacity: 0.4;
        animation-name: cloudz;
        animation-duration: 30s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-delay: 1s;

      }

    .cloudz3{
      position: absolute;
      z-index: 1;
      top: 120px;
      left: -300px;
      background-image: url(../img/cloud.png);
      background-repeat: no-repeat;
      width:155px;
      height:69px;
      opacity: 0.4;
      animation-name: cloudr;
      animation-duration: 40s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-delay: 1s;

    }
    @keyframes cloudz{
      0%{
        left: -300px;}

      100%{
        transform: translateX(100%);
        left: 100%;

      }
    }
    @keyframes cloudr{
      0%{
        transform: translateX(100%);
        left: 100%;
        }

      100%{
        left: -300px;

      }
    }



  }
  //dis-top
.dis-bot{
  position: absolute;
  z-index: 3;
  top: 336px;
  width: 100%;
  height: 100%;
  @media screen and (max-width: 613px){
  bottom: -250px;}
  @media screen and (max-width: 413px){
  bottom: -300px;}
  @media screen and (max-width: 324px){
  bottom: -350px;}
.left{
  padding: 33px;
  background-color: $white;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: .75rem;
  box-shadow: 0 0 10px rgba(000,000,000, .5);
  height: 100%;
  @media #{$maxDesktop}{
  margin-left: 0;}
  @media #{$maxMobile}{
  padding: 0;}

  .left-item{
    display: inline-block;
    width: 50%;
    text-align: center;
    padding: 35px;
    box-sizing: border-box;


    .left-off{
      color: $p2;
      font-size: 3.5rem;
      font-weight: 700;
      line-height: 1.2;
      text-transform: uppercase;
      padding-bottom: 10px;

    }
    .left-than{
      font-size: 1.4rem;
      color: $p4d1;
    }
    .left-pages{
      color: $p1d1;
      font-size: 1.7rem;
      font-weight: 600;
    }
  }
  .left-item-first{
    border-right: 1px solid $p4l3;
    border-bottom: 1px solid $p4l3;
  }
  .left-item-second{
    border-bottom: 1px solid $p4l3;
  }
  .left-item-third{
    border-right: 1px solid $p4l3;
  }
}

  .right{
    background-color: $p1;
    width: 100%;
    margin-right: .75rem;
    padding: 15px;
    position: relative;
    box-shadow: 0 0 10px rgba(000,000,000, .5);
    height: 100%;
    &:after{
      content: "";
      position: absolute;
      bottom: 20px;
      z-index: 4;
      right: -35px;
      width:110px;
      height:157px;
      background-image: url(../img/balloon.png);
      background-repeat: no-repeat;

    }
    @media #{$maxDesktop}{
      height: auto;
      margin-right: 0;
    }
  }
  .right-inside{
    border: 2px dashed $p1d1;
    height: 100%;
    border-radius: 8px;
    padding: 30px;
    @media screen and (max-width:1275px){
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  .right-title{
    font-size: 2.5rem;
    font-weight: 600;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 30px;
    @media screen and (max-width:1275px){
      font-size: 2rem;
      padding-bottom: 10px;
    }
    @media #{$maxDesktop}{
      padding-bottom: 30px;
    }
  }
  .right-get{
    padding: 30px 50px;
    border: 2px dashed $white;
    border-radius: 8px;
    color: $white;
    font-size: 2.4rem;
    font-weight: 500;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: -15px;
      z-index: 33;
      left: 0;
      width:38px;
      height:29px;
      background-image: url(../img/scissors.png);
      background-repeat: no-repeat;

    }
    &:after {
      content: "";
      position: absolute;
      top: -15px;
      z-index: 1;
      right: 0;
      width:86px;
      height:106px;
      background-image: url(../img/stars.png);
      background-repeat: no-repeat;

    }

  }

  .right-off{
    text-align: center;
    font-size: 6.1rem;
    font-weight: 700;
    line-height: 1;
    color: $p3;
    text-transform: uppercase;
    @media #{$maxDesktop}{
      padding-top: 10px;
    }
  }
  .right-order{
    text-align: center;
    font-weight: 500;
    color: $white;
    font-size: 1.4rem;
  }
  .right-text{
    font-style: italic;
    color: $white;
    font-size: 1.8rem;
    text-align: center;
    padding-top: 20px;
    position: relative;
    z-index: 2;
  }

}

}

//TESTIMONIALS SECTION

.testimonials{

  .t-title{
    @include ctext(center, 400, 1%);

  }
  .t-slider{
    padding:3% 0;
    .slick-prev:before {
      content: '\f104';
      font-family:$fontawesome;
      font-size:10rem;
      color:$p1;
    }
    .slick-next:before {
      content: '\f105';
      font-family: $fontawesome;
      font-size: 10rem;
      color: $p1;
    }
    .s-item1{
      .name{
        display: block;
        text-align: center;
        color:$p1;
        font-size:2rem;
        font-weight:700;
      }
      .date{
        color: #dadada;;
        font-size:1.5rem;
        font-weight:400;
      }
      p{color:black;}
      .test-pic{
        background-color: #e2f55d;
        border-radius:50%;
        background-image: url(../img/sprite.png);
        background-position: 5px -6327px;
        width: 51px;
        height: 51px;
        margin:0 auto;
      }
      padding:2% 20%;
      text-align: center;
      height:190px;
    }

  }

}

@media (max-width: 992px){
  .testimonials{
    padding-top:55%;
  }

}