.hiw{

  .hiw-box{
    margin-bottom: 1%;
  }

  //Step1
   .steps{
     display: inline-block;
     position: relative;
     border:1px solid #e9eff4;
     width:40%;
     height:240px;
     border-radius: 5px;
     padding:3%;
     text-align: center;
     box-shadow: 0 0 3px rgba(0,0,0,.1);
     margin:2%;
   }
  .steps:hover{
    border:1px solid $p1;
  }
  .step1{
    &:after {
      content: "";
      position: absolute;
      right:-13px;
      bottom: 45%;
      background-color: #fff;
      width: 25px;
      height: 25px;
      transform: rotate(45deg);
      border-top: 1px solid #e9eff4;
      border-right: 1px solid #e9eff4;
      box-shadow: 0 0 rgba(0,0,0,.1);

    }
    &:hover::after{
      border-top: 1px solid $p1;
      border-right: 1px solid $p1;
    }


  .s-pic1{
    margin:0 auto;
    background-image: url(../img/sprite.png);
    background-position: 0px -7438px;
    width: 61px;
    height: 61px;
    margin-bottom: 2%;
  }

  }

//  step2
  .step2{
    &:after {
      content: "";
      position: absolute;
      top:95%;
      bottom: 45%;
      background-color: #fff;
      width: 25px;
      height: 25px;
      transform: rotate(135deg);
      border-top: 1px solid #e9eff4;
      border-right: 1px solid #e9eff4;
      box-shadow: 0 0  rgba(0,0,0,.1);
    }
    &:hover::after{
      border-top: 1px solid $p1;
      border-right: 1px solid $p1;
    }


    .s-pic2{
      margin:0 auto;
      background-image: url(../img/sprite.png);
      background-position: 0px -8561px;
      width: 61px;
      height: 61px;
      margin-bottom: 2%;
    }

  }

  //  step3
  .step3{
    &:after {
      content: "";
      position: absolute;
      top:45%;
      left: -13px;
      background-color: #fff;
      width: 25px;
      height: 25px;
      transform: rotate(225deg);
      border-top: 1px solid #e9eff4;
      border-right: 1px solid #e9eff4;
      box-shadow: 0 0 rgba(0,0,0,.1);
    }
    &:hover::after{
      border-top: 1px solid $p1;
      border-right: 1px solid $p1;
    }


    .s-pic3{
      margin:0 auto;
      background-image: url(../img/sprite.png);
      background-position: 0px -6878px;
      width: 61px;
      height: 61px;
      margin-bottom: 2%;
    }

  }

  //  step4
  .step4{
    //&:after {
    //  content: "";
    //  position: absolute;
    //  top:95%;
    //  bottom: 45%;
    //  background-color: #fff;
    //  width: 25px;
    //  height: 25px;
    //  transform: rotate(135deg);
    //  border-top: 1px solid #e9eff4;
    //  border-right: 1px solid #e9eff4;
    //  box-shadow: 0 0 rgba(0,0,0,.1);
    //}


    .s-pic4{
      margin:0 auto;
      background-image: url(../img/sprite.png);
      background-position: 0px -7999px;
      width: 61px;
      height: 61px;
      margin-bottom: 2%;
    }

  }

}