.p-header-mid {
  position: relative;
  background-color: $p1l3;
  background-image: url(../img/town.png);
  background-repeat: repeat-x;
  background-position: bottom left;
  //padding:10% 0 0 0 ;
  height:27rem;
  h1 {
    padding-top:5%;
  }

  .breadcrumb, a{
    color:$p4l1;
    &:before{color:$p4l1;}

  }
a.breadcrumb.active{
  color:$p2;
}
}