.txt{
  padding:20px 0;
  img{
    padding-top:10px;
    width:99%;
  }
  hr{
    margin:20px 0;
    color: $p1;
  }
  .social{
    margin-top:20px;
    color:$p4l2;
    display: inline-block;
    li{
      padding-left:20px;
      display: inline-block;
    &:first-child{
      padding-left:0;
    }

    }
    a{
      color:$p4l2;
    }
  }
  .right{
    float:right;
  }
}

.form{
  margin:10px 0;
  padding:2% 0;
  input{
    width:100%;
    padding:12px 10px;
  }
  textarea{
    height:10%;
    padding:10px 10px;
    resize: none;

  }
  .btn{ margin:20px 0;}
}