.side-b{
  padding:5% 0;
  input[type=search]{
    box-sizing: border-box;
    height:50px;
  }
  .sb-title{
    color:$p1;
    text-transform: uppercase;
    font-weight:600;
  }
  ul{
    background-color: $p1l3;
    border-top:1px solid $p1l1;
    margin-bottom:3rem;
    li{
      padding:5%;
      border-bottom: 1px solid $p1l2;
    }
  }

  .sb-blog{
    border-bottom: 1px solid $p1l2;
    padding:5% 0;
    img{
      width:100%;
    }
  }

  //.accept{
  //  padding-bottom: 30px;
  //
  //  .accept-item{
  //    margin-bottom: 15px;
  //  }
  //  .accept-icon{
  //    filter: grayscale(100%);
  //    //transition(.3s);
  //    transform: scale(.9);
  //    &:hover{
  //      transform: scale(1.05);
  //      filter: grayscale(0);
  //    }
  //  }
  //  .accept-icon-paypal{
  //    @include sprite($s-paypal);
  //  }
  //  .accept-icon-mastercard{
  //    @include sprite($s-mastercard);
  //  }
  //  .accept-icon-ucb{
  //    @include sprite($s-jcb);
  //  }
  //  .accept-icon-visa{
  //    @include sprite($s-visa);
  //  }
  //  .accept-icon-2cc{
  //    @include sprite($s-2co);
  //  }
  //  .accept-icon-discover{
  //    @include sprite($s-discover);
  //  }
  //  .accept-icon-diners{
  //    @include sprite($s-diners);
  //  }
  //  .accept-icon-express{
  //    @include sprite($s-amex);
  //  }
  //  .accept-icon-skrill{
  //    @include sprite($s-skrill);
  //  }
  //}

}