<section class="fall">
    <div class="container">
        <div class="row">
            <div class="col xl5">
             <div class="col xl2">
                 <div class="cloud hide-on-med-and-down"></div>
             </div>
                <div class="col xl3">
                    <div class="boy slideInLeft hide-on-med-and-down"></div>
                </div>
            </div>
            <!--content-->
            <div class="col xl6 clouds m12 s12 xs12">
                <div class="cloud-mid hide-on-med-and-down"></div>
                <div class="cloud-bot hide-on-med-and-down"></div>

                <div class="con">
                <span class="big-title">404 page</span>
                <h4>Oops. The page you were looking for doesn’t exist</h4>
                <p class="mb">You may have mistyped the address or the page may have moved</p>
                    <span><a href="#" class="btn3 btn-d">home</a><a href="#" class="btn4 btn-d">back</a></span>

                </div>
            </div>
        </div>
    </div>
</section>