<section class="blogs">
    <div class="container">
        <div class="row menu-blog">
            <div class="col xl8 l8 m8 hide-on-small-and-down">
            <div class="nav-content">
                <ul class="tabs tabs-transparent">
                    <li class="tab"><a  class="active"  href="#test1">Latest</a></li>
                    <li class="tab"><a href="#test2">Post 2</a></li>
                    <li class="tab"><a href="#test3">Post 3</a></li>
                    <li class="tab"><a href="#test4">Show all</a></li>
                </ul>

            </div>
            </nav>

            <!--<div class="col s12">Test 1</div>-->
            <!--<div id="test2" class="col s12">Test 2</div>-->
            <!--<div id="test3" class="col s12">Test 3</div>-->
            <!--<div id="test4" class="col s12">Test 4</div>-->
            </div>
            <div class="col xl4 l4 m4 hide-on-small-and-down">
                <div class="rebuild">
                <a href="#"><i class="fa fa-th-list" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="row"  id="test1">
            <!--Blog post1-->
            <div class="col xl1 l1 m1 hide-on-small-and-down">
                <a href="#" class="soc"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a>
                <a href="#" class="soc"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
                <a href="#" class="soc"><i class="fa fa-pinterest fa-3x" aria-hidden="true"></i></a>
                <a href="#" class="soc"><i class="fa fa-google-plus fa-3x" aria-hidden="true"></i></a>
                <div class="like">
                <a href="#" class="likes"><i class="fa fa-heart" aria-hidden="true"></i><br>34</a>
                <a href="#" class="likes"><i class="fa fa-eye" aria-hidden="true"></i><br>39</a>
                 </div>
            </div>
            <div class="col xl8 l8 m8 s12">
                <div class="blog">
                    <h1>Do you need essay help?</h1>
                    <span><i class="fa fa-clock-o" aria-hidden="true"></i> February 3 , 2015 in Personal life</span>
                    <img src="../img/blogpic.png" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi ducimus facilis harum id
                        nam neque nihil numquam officiis reiciendis vero? Animi atque in iusto magnam minima quo sed
                        ullam voluptatum!</p>
                    <a href="#" class="blog-link">continue reading</a>

                </div>

            </div>



            <!--SIDEBAR-->
            <div class="col xl3 l3 m3 hide-on-small-and-down">
                //= sidebar.html
            </div>

        </div>

<!--id 2-->
        <div class="row"  id="test2">
            <!--Blog post1-->
            <div class="col xl1 l1 m1 hide-on-small-and-down">
                <a href="#" class="soc"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a>
                <a href="#" class="soc"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
                <a href="#" class="soc"><i class="fa fa-pinterest fa-3x" aria-hidden="true"></i></a>
                <a href="#" class="soc"><i class="fa fa-google-plus fa-3x" aria-hidden="true"></i></a>
                <div class="like">
                    <a href="#" class="likes"><i class="fa fa-heart" aria-hidden="true"></i><br>34</a>
                    <a href="#" class="likes"><i class="fa fa-eye" aria-hidden="true"></i><br>39</a>
                </div>
            </div>
            <div class="col xl8 l8 m8 s12 xs12">
                <div class="blog">
                    <h1>Do you need essay help?</h1>
                    <span><i class="fa fa-clock-o" aria-hidden="true"></i> February 3 , 2015 in Personal life</span>
                    <img src="../img/blogpic2.png" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi ducimus facilis harum id
                        nam neque nihil numquam officiis reiciendis vero? Animi atque in iusto magnam minima quo sed
                        ullam voluptatum!</p>
                    <a href="#" class="blog-link">continue reading</a>

                </div>

            </div>



            <!--SIDEBAR-->
            <div class="col xl3 l3 m3 hide-on-small-and-down">
                //= sidebar.html
            </div>

        </div>

        <!--id 3-->
        <div class="row"  id="test3">
            <!--Blog post1-->
            <div class="col xl1 l1 m1 hide-on-small-and-down">
                <a href="#" class="soc"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a>
                <a href="#" class="soc"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
                <a href="#" class="soc"><i class="fa fa-pinterest fa-3x" aria-hidden="true"></i></a>
                <a href="#" class="soc"><i class="fa fa-google-plus fa-3x" aria-hidden="true"></i></a>
                <div class="like">
                    <a href="#" class="likes"><i class="fa fa-heart" aria-hidden="true"></i><br>34</a>
                    <a href="#" class="likes"><i class="fa fa-eye" aria-hidden="true"></i><br>39</a>
                </div>
            </div>
            <div class="col xl8 l8 m8 s12 xs12">
                <div class="blog">
                    <h1>Do you need essay help?</h1>
                    <span><i class="fa fa-clock-o" aria-hidden="true"></i> February 3 , 2015 in Personal life</span>
                    <img src="../img/blogpic3.png" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi ducimus facilis harum id
                        nam neque nihil numquam officiis reiciendis vero? Animi atque in iusto magnam minima quo sed
                        ullam voluptatum!</p>
                    <a href="#" class="blog-link">continue reading</a>

                </div>

            </div>



            <!--SIDEBAR-->
            <div class="col xl3 l3 m3 hide-on-small-and-down">
                //= sidebar.html
            </div>

        </div>

        <!--Show all-->
        <div class="row"  id="test4">
            <div class="col xl1 l1 m1 hide-on-small-and-down">
                <a href="#" class="soc"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a>
                <a href="#" class="soc"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
                <a href="#" class="soc"><i class="fa fa-pinterest fa-3x" aria-hidden="true"></i></a>
                <a href="#" class="soc"><i class="fa fa-google-plus fa-3x" aria-hidden="true"></i></a>
                <div class="like">
                    <a href="#" class="likes"><i class="fa fa-heart" aria-hidden="true"></i><br>34</a>
                    <a href="#" class="likes"><i class="fa fa-eye" aria-hidden="true"></i><br>39</a>
                </div>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <a href="#" class="soc"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a>
                <a href="#" class="soc"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
                <a href="#" class="soc"><i class="fa fa-pinterest fa-3x" aria-hidden="true"></i></a>
                <a href="#" class="soc"><i class="fa fa-google-plus fa-3x" aria-hidden="true"></i></a>
                <div class="like">
                    <a href="#" class="likes"><i class="fa fa-heart" aria-hidden="true"></i><br>34</a>
                    <a href="#" class="likes"><i class="fa fa-eye" aria-hidden="true"></i><br>39</a>
                </div>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <a href="#" class="soc"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a>
                <a href="#" class="soc"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
                <a href="#" class="soc"><i class="fa fa-pinterest fa-3x" aria-hidden="true"></i></a>
                <a href="#" class="soc"><i class="fa fa-google-plus fa-3x" aria-hidden="true"></i></a>
                <div class="like">
                    <a href="#" class="likes"><i class="fa fa-heart" aria-hidden="true"></i><br>34</a>
                    <a href="#" class="likes"><i class="fa fa-eye" aria-hidden="true"></i><br>39</a>
                </div>
            </div>
            <div class="col xl8 l8 m8 s12">
                <div class="blog">
                    <h1>Do you need essay help?</h1>
                    <span><i class="fa fa-clock-o" aria-hidden="true"></i> February 3 , 2015 in Personal life</span>
                    <img src="../img/blogpic.png" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi ducimus facilis harum id
                        nam neque nihil numquam officiis reiciendis vero? Animi atque in iusto magnam minima quo sed
                        ullam voluptatum!</p>
                    <a href="#" class="blog-link">continue reading</a>

                </div>

                <br><br><br><br><br><br><br>

                <div class="blog">
                    <h1>Do you need essay help?</h1>
                    <span><i class="fa fa-clock-o" aria-hidden="true"></i> February 3 , 2015 in Personal life</span>
                    <img src="../img/blogpic2.png" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi ducimus facilis harum id
                        nam neque nihil numquam officiis reiciendis vero? Animi atque in iusto magnam minima quo sed
                        ullam voluptatum!</p>
                    <a href="#" class="blog-link">continue reading</a>

                </div>

                <br><br><br><br><br><br><br>

                <div class="blog">
                    <h1>Do you need essay help?</h1>
                    <span><i class="fa fa-clock-o" aria-hidden="true"></i> February 3 , 2015 in Personal life</span>
                    <img src="../img/blogpic3.png" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi ducimus facilis harum id
                        nam neque nihil numquam officiis reiciendis vero? Animi atque in iusto magnam minima quo sed
                        ullam voluptatum!</p>
                    <a href="#" class="blog-link">continue reading</a>

                </div>

            </div>
            <!--Blog post1-->



            <!--SIDEBAR-->
            <div class="col xl3 l3 m3 hide-on-small-and-down">
                //= sidebar.html
            </div>

        </div>

    </div>
</section>