<section class="txt">
    <div class="container">
        <div class="row">
            <div class="col xl9 l9 m8 s12 xs12">
                <div class="txt-content">
                    <h1>Frequently Asked Questions</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A debitis dignissimos ea earum exercitationem molestias nemo
                        nesciunt, quas quidem ut. Aperiam cupiditate dicta expedita nihil nobis provident, quisquam tempore ullam?
                    </p>

                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header li-faq">First</div>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header li-faq">Second</div>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header li-faq">Third</div>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header li-faq">Third</div>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header li-faq">Third</div>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header li-faq">Third</div>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header li-faq">Third</div>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header li-faq">Third</div>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header li-faq">Third</div>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header li-faq">Third</div>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                    </ul>

                </div>
            </div>

            <!--SIDEBAR-->
            <div class="col xl3 l3 m4 hide-on-small-and-down">
                //= sidebar.html
            </div>

        </div>
    </div>
</section>




