<!--FOOTER SECTION-->
<footer class="footer">
    <div class="container">

        <div class="row  footer-h">

            <div class="col xl4 l4 m12 s12 xs12">
                <div class="logo">
                    <a href="text.html">
                        <img src="img/logo.png" alt="logo" class="logo__image">
                    </a>
                </div>
            </div>
            <div class="col  xl8 l8 m12 s12 xs12">
                <ul>
                    <li><a href="#">Home<a></li>
                    <li><a href="#">About us<a></li>
                    <li><a href="#">Order now<a></li>
                    <li><a href="#">Disclaimer<a></li>
                    <li><a href="#">Why us<a></li>
                    <li><a href="#">Contacts<a></li>
                    <li><a href="#">Blog<a></li>
                </ul>

            </div>


        </div>
        <!--1 row-->
        <div class="row footer-h hide-on-med-and-down">
            <div class="col xl3 m6 s12 xs12"> <h5>Section number1</h5>
                <ul class="foo-li">
                    <li><a href="#">But I must explain to you how </a></li>
                    <li><a href="#">Mistaken idea of denouncing</a></li>
                    <li><a href="#">Praising pain was born</a></li>
                    <!--<li><a href="#">Account of the system</a></li>-->
                    <li><a href="#">Great explorer of the truth</a></li>
                    <li><a href="#">No one rejects, dislikes</a></li>
                    <li><a href="#">Mistaken idea of denouncing </a></li>
                    <li><a href="#">Praising pain was born</a></li>
                </ul>
            </div>
            <div class="col xl3 m6 s12 xs12"> <h5>Section number2</h5>
                <ul class="foo-li">
                    <li><a href="#">But I must explain to you how </a></li>
                    <li><a href="#">Mistaken idea of denouncing</a></li>
                    <li><a href="#">Praising pain was born</a></li>
                    <!--<li><a href="#">Account of the system</a></li>-->
                    <li><a href="#">Great explorer of the truth</a></li>
                    <li><a href="#">No one rejects, dislikes</a></li>
                    <li><a href="#">Mistaken idea of denouncing </a></li>
                    <li><a href="#">Praising pain was born</a></li>
                </ul>
            </div>
            <div class="col xl3 m6 s12 xs12"> <h5>Section number3</h5>
                <ul class="foo-li">
                    <li><a href="#">But I must explain to you how </a></li>
                    <li><a href="#">Mistaken idea of denouncing</a></li>
                    <li><a href="#">Praising pain was born</a></li>
                    <!--<li><a href="#">Account of the system</a></li>-->
                    <li><a href="#">Great explorer of the truth</a></li>
                    <li><a href="#">No one rejects, dislikes</a></li>
                    <li><a href="#">Mistaken idea of denouncing </a></li>
                    <li><a href="#">Praising pain was born</a></li>
                </ul>
            </div>
            <div class="col xl3 m6 s12 xs12"> <h5>Section number4</h5>
                <ul class="foo-li">
                    <li><a href="#">But I must explain to you how </a></li>
                    <li><a href="#">Mistaken idea of denouncing</a></li>
                    <li><a href="#">Praising pain was born</a></li>
                    <!--<li><a href="#">Account of the system</a></li>-->
                    <li><a href="#">Great explorer of the truth</a></li>
                    <li><a href="#">No one rejects, dislikes</a></li>
                    <li><a href="#">Mistaken idea of denouncing </a></li>
                    <li><a href="#">Praising pain was born</a></li>
                </ul>
            </div>

        </div>

        <!--2row-->
        <!--Contacts and social<a href=#>-->
        <div class="row">
            <div class="col xl3 l3 m12 s12 xs12">
                <div class="copyright">
                    Copyright В© 2017 BlueEssaySite.net <br>
                    All rights reserved.
                </div>
            </div>

            <div class="col l3 m6 hide-on-med-and-down">
                <ul class="social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>

            <div class="col l3 m6 hide-on-med-and-down">
                <div class="toll">
                    <img src="../img/envelope.png" alt="">

                        <div class="free">
                        Toll free
                        <a href="#">+ 3 044 111 2732</a>
                        </div>

                </div>
            </div>

            <div class="col l3 m6 hide-on-med-and-down">
                <div class="toll">
                    <img src="../img/envelope.png" alt="">
                    <div class="free">
                        Email
                        <a href="#">blueessaysite@gmail.com</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</footer>

<script src="../js/main.js"></script>
</body>
</html>
