<section class="hiw">
    <div class="container">
        <div class="row">
            <div class="col xl9 l9 m8 s12 xs12 ">
                <h1>Our simple 4-step Procedure</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Magni, maiores, nemo. Aspernatur consequuntur debitis dolor
                    dolorem earum eos error expedita fugiat nostrum pariatur
                    possimus quae quas, qui quisquam tempore voluptate?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Magni, maiores, nemo. Aspernatur consequuntur debitis dolor
                    dolorem earum eos error expedita fugiat nostrum pariatur
                    possimus quae quas, qui quisquam tempore voluptate?</p>

                <div class="hiw-box">

                    <div class="step1 steps ">
                    <div class="s-pic1"></div>
                    <h4>step1</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Consequuntur culpa dignissimos esse natus nesciunt porro quam.
                    </p>
                    </div>

                    <div class="step2 steps ">
                        <div class="s-pic2"></div>
                        <h4>step2</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Consequuntur culpa dignissimos esse natus nesciunt porro quam.
                        </p>
                    </div>

                </div>
                <div class="hiw-box">
                    <div class="step4 steps ">
                        <div class="s-pic4"></div>
                        <h4>step4</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Consequuntur culpa dignissimos esse natus nesciunt porro quam.
                        </p>
                    </div>

                    <div class="step3 steps ">
                        <div class="s-pic3"></div>
                        <h4>step3</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Consequuntur culpa dignissimos esse natus nesciunt porro quam.
                        </p>
                    </div>

                </div>



            </div>

            <!--SIDEBAR-->
            <div class="col xl3 l3 m4 hide-on-small-and-down">
                //= sidebar.html
            </div>

        </div>
    </div>
</section>