<!--Menu Section-->
<section class="header">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col l4 m4 s12 xs12">
                    <div class="logo">
                        <a href="index.html">
                            <img src="img/logo.png" alt="logo" class="logo__image">
                        </a>
                    </div>
                </div>
                <div class="col l8  m7 s12 xs12">
                    <!-- Dropdown Structure -->
                    <ul id="dropdown1" class="dropdown-content">
                        <li><a href="#">one</a></li>
                        <li><a href="#">two</a></li>
                        <li><a href="#">three</a></li>
                    </ul>

                    <div class="navigation">
                        <ul class="nav-secondary hide-on-med-and-down">
                            <li class=""><a class="services-item dropdown-button"  data-activates="dropdown1" href="#">Services</a></li>
                            <li class=""><a class="about-item dropdown-button"  data-activates="dropdown1" href="#">About-us</a></li>
                            <li class="hiw"><a href="#">How it works</a></li>
                        </ul>
                        <a href="#" class="round"><i class="fa fa-phone"></i></a>
                        <a class="waves-effect waves-light btn btn2 menu__button button">sign in</a>
                        <a class="waves-effect waves-light btn btn1 menu__button">order</a>

                        <ul id="slide-out" class="side-nav">
                            <li class="menu-burger"><a href="index.html">Home</a></li>
                            <li class="menu-burger"><a href="text.html">Text</a></li>
                            <li class="menu-burger"><a href="hiw.html">How it works</a></li>
                            <li class="menu-burger"><a href="blog.html">Blog</a></li>
                            <li class="menu-burger"><a href="post.html">Post</a></li>
                            <li class="menu-burger"><a href="faq.html">Faq</a></li>
                            <li class="menu-burger"><a href="404.html">404</a></li>

                            <li><a class="waves-effect waves-light btn btn2 menu__button button">sign in</a></li>
                            <li><a class="waves-effect waves-light btn btn1 menu__button">order</a></li>
                        </ul>
                        <a href="#" data-activates="slide-out" class="button-collapse burger"><i class="material-icons">menu</i></a>
                 </div>
               </div>
            </div>
        </div>
    </div>

    <!--GIRL SECTION-->
    <div class="header-mid">
        <div class="container">
            <div class="row">
                <div class="col l8">
                    <div class="header-desc">
                        <div class="hd-name">
                            <p><span>BlueEssaySite.net -</span><br>expert help for custom Written</p>
                        </div>
                        <div class="hd-description">
                            <div class="hd-line slideInline"></div>
                            <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized</p>
                        </div>
                        <a class="waves-effect waves-light btn-large btn1 hd-button">order</a>
                    </div>
                </div>
                <div class="col l4">
                    <div class="girl slideInRight hide-on-med-and-down"></div>
                </div>
            </div>
        </div>
    </div>
<!--FORM GROUP-->
    <div class="header-footer">
        <div class="container">
            <div class="row">
                <div class="col l12 m12">
                    <div class="header-panel">
                        <div class="input-field">
                            <select>
                                <option value="" disabled selected>Choose your option</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>
                            <label>Choose your option</label>
                        </div>

                                <div class="input-field">
                                    <select>
                                        <option value="" disabled selected>Choose your option</option>
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                    </select>
                                    <label>Choose your option</label>
                                </div>

                        <div class="input-field">
                            <select>
                                <option value="" disabled selected>Choose your option</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>
                            <label>Choose your option</label>
                        </div>

                        <div class="input-field number-pages">
                            <span class="minus"><i class="fa fa-minus"></i></span>
                            <input id="first_name" type="text" class="validate" value="1" maxlength="4">
                            <span class="plus"><i class="fa fa-plus"></i></span>

                            <label>Number of pages</label>
                        </div>
                        <a class="waves-effect waves-light btn-large btn2">button2</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--DO YOU NEED SECTION-->
<section class="second">
    <div class="container">
        <div class="row">
          <div class="col xl6 l6  hide-on-med-and-down">
           <div class="machin">

           </div>
          </div>
           <div class="col xl6 l6 s12 xs12">
           <h1>Do you need essay help from a good writing service?</h1>
               <p>If you need to buy papers or custom essays, you have arrived at
                   If you need to buy papers or custom essays, you have arrived at
                   If you need to buy papers or custom essays, you have arrived at
                   If you need to buy papers or custom essays, you have arrived at</p>
           </div>
        </div>

    </div>
</section>

<!--ADVANTAGES SECTION-->
<section class="advantages">
    <div class="container">

            <div class="row">
                <h1 class="ad-title">Advantages of Our Writing Services</h1>
                <div class="col xl4 l4 m12">
                    <div class="box">
                        <div class="box-p p1"></div>
                        <h5>Professionally-qualified  writing experts</h5>
                       <p>Lorem ipsum dolor sit amet.
                       Lorem ipsum dolor sit amet.
                       Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
                <div class="col xl4 l4 m12">
                    <div class="box">
                        <div class="box-p p2"></div>
                        <h5>Commitment to deliver papers by deadline</h5>
                        <p>Lorem ipsum dolor sit amet.
                        Lorem ipsum dolor sit amet.
                        Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
                <div class="col xl4 l4 m12">
                    <div class="box">
                        <div class="box-p p3"></div>
                        <h5>Top-quality, at a great price - guaranteed</h5>
                        <p>Lorem ipsum dolor sit amet.
                        Lorem ipsum dolor sit amet.
                        Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>

            </div>

        <div class="row">

            <div class="col xl12 s12 xs12">

                <a href="#" class="btn2 btn-large ad-btn">Place an order</a>

            </div>




        </div>

    </div>
</section>

<!--SIMPLE 4-STEPS SECTION-->
<section class="steps">
    <div class="container">
        <div class="row">
            <h1 class="step-title">Our Simple 4-Step Procedure</h1>
            <div class="col xl3 m6">
                <div class="step-box">  <div class="step-pic p1"></div>
                    <h5>STEP 1</h5>
                    <p>Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet.</p></div>
            </div>
            <div class="col xl3 m6">
                <div class="step-box">  <div class="step-pic p2"></div>
                    <h5>STEP 2</h5>
                    <p>Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet.</p></div>
            </div>
            <div class="col xl3 m6">
                <div class="step-box">  <div class="step-pic p3"></div>
                    <h5>STEP 3</h5>
                    <p>Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet.</p></div>
            </div>
            <div class="col xl3 m6">
                <div class="step-boxx"> <div class="step-pic p4"></div>
                    <h5>STEP 4</h5>
                    <p>Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet.</p></div>
            </div>
        </div>
    </div>
</section>

<!--ROCKET SECTION-->
<section class="rocket">
<div class="dis-top">
    <div class="shuttle"></div>
    <div class="cloudz1"></div>
    <div class="cloudz2"></div>
    <div class="cloudz3"></div>
    <div class="container">
        <div class="row">
            <h1 class="rocket-title">Our discount program</h1>
            <p class="r-description">By utilizing elements and principles of Material Design, we wer</p>
        </div>
    </div>
</div>
<div class="dis-bot">
    <div class="container">
        <div class="row flex">
            <div class="col l6 offset-l1 s12">
                <div class="left">
                    <div class="left-item left-item-first">
                        <div class="left-off">
                            4%<br> off
                        </div>
                        <div class="left-than">
                            for more than
                        </div>
                        <div class="left-pages">
                            15 pages
                        </div>
                    </div>
                    <div class="left-item left-item-second">
                        <div class="left-off">
                            5%<br> off
                        </div>
                        <div class="left-than">
                            for more than
                        </div>
                        <div class="left-pages">
                            20 pages
                        </div>
                    </div>
                    <div class="left-item left-item-third">
                        <div class="left-off">
                            10%<br> off
                        </div>
                        <div class="left-than">
                            for more than
                        </div>
                        <div class="left-pages">
                            50 pages
                        </div>
                    </div>
                    <div class="left-item left-item-last">
                        <div class="left-off">
                            15%<br> off
                        </div>
                        <div class="left-than">
                            for more than
                        </div>
                        <div class="left-pages">
                            100 pages
                        </div>
                    </div>
                </div>
            </div>

            <div class="col l4 s12">
                <div class="right">
                    <div class="right-inside">
                        <div class="right-title">Try our service & get huge discounts</div>
                        <div class="right-get">
                            get
                            <div class="right-off">
                                15%<br>
                                off
                            </div>
                            <div class="right-order">
                                for your 1st order
                            </div>
                        </div>
                        <div class="right-text">
                            Use discount15 as discount code
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</section>

<!--TESTIMONIALS SECTION-->
<section class="testimonials">
    <div class="container">
        <div class="row">
            <h1 class="t-title">What our clients says</h1>

            <div class="col xl12 s12 xs12">
                <div class="t-slider">
                    <div class="s-item1">
                        <div class="test-pic"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Amet distinctio esse excepturi in itaque magni molestiae nihil perferendis
                            possimus, provident, quae qui soluta, vero voluptatem voluptates.
                            Modi quas sequi velit!</p>
                        <span class="name">Lorna Grey</span>
                        <span class="date">20 apr 2016 at 8:23 </span>

                    </div>
                    <div class="s-item1"><div class="test-pic"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Amet distinctio esse excepturi in itaque magni molestiae nihil perferendis
                            possimus, provident, quae qui soluta, vero voluptatem voluptates.
                            Modi quas sequi velit!</p>
                        <span class="name">Lorna Grey</span>
                        <span class="date">20 apr 2016 at 8:23 </span>
                    </div>
                    <div class="s-item1">
                        <div class="test-pic"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Amet distinctio esse excepturi in itaque magni molestiae nihil perferendis
                            possimus, provident, quae qui soluta, vero voluptatem voluptates.
                            Modi quas sequi velit!</p>
                        <span class="name">Lorna Grey</span>
                        <span class="date">20 apr 2016 at 8:23 </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

