<!--Menu Section-->
<section class="header">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col l4 m4 s12 xs12">
                    <div class="logo">
                        <a href="index.html">
                            <img src="img/logo.png" alt="logo" class="logo__image">
                        </a>
                    </div>
                </div>
                <div class="col l8  m7 s12 xs12">
                    <!-- Dropdown Structure -->
                    <ul id="dropdown1" class="dropdown-content">
                        <li><a href="#">one</a></li>
                        <li><a href="#">two</a></li>
                        <li><a href="#">three</a></li>
                    </ul>

                    <div class="navigation">
                        <ul class="nav-secondary hide-on-med-and-down">
                            <li class=""><a class="services-item dropdown-button"  data-activates="dropdown1" href="#">Services</a></li>
                            <li class=""><a class="about-item dropdown-button"  data-activates="dropdown1" href="#">About-us</a></li>
                            <li class="hiw"><a href="#">How it works</a></li>
                        </ul>
                        <a href="#" class="round"><i class="fa fa-phone"></i></a>
                        <a class="waves-effect waves-light btn btn2 menu__button button">sign in</a>
                        <a class="waves-effect waves-light btn btn1 menu__button">order</a>

                        <ul id="slide-out" class="side-nav">
                            <li class="menu-burger"><a href="index.html">Home</a></li>
                            <li class="menu-burger"><a href="text.html">Text</a></li>
                            <li class="menu-burger"><a href="hiw.html">How it works</a></li>
                            <li class="menu-burger"><a href="blog.html">Blog</a></li>
                            <li class="menu-burger"><a href="post.html">Post</a></li>
                            <li class="menu-burger"><a href="faq.html">Faq</a></li>
                            <li class="menu-burger"><a href="404.html">404</a></li>

                            <li><a class="waves-effect waves-light btn btn2 menu__button button">sign in</a></li>
                            <li><a class="waves-effect waves-light btn btn1 menu__button">order</a></li>
                        </ul>
                        <a href="#" data-activates="slide-out" class="button-collapse burger"><i class="material-icons">menu</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="p-header-mid">
        <div class="container">
            <div class="row">
                <div class="col xl12">
                    <h1>Text page</h1>
                </div>


                        <div class="col s12">
                            <a href="#" class="breadcrumb">First</a>
                            <a href="#" class="breadcrumb">Second</a>
                            <a href="#" class="breadcrumb active">Third</a>
                        </div>



            </div>
        </div>
    </div>