<section class="txt">
    <div class="container">
        <div class="row">
            <div class="col xl9 l9 m8 s12">
                <div class="txt-content">
                    <img src="../img/blogpic.png" alt="">
                    <h1>Do you need essay help?</h1>
                    <span class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At eos impedit nesciunt nostrum possimus qui
                        quibusdam, rerum! Aliquid dignissimos eligendi ex explicabo, impedit magnam? Atque et iusto nihil sint unde?
                    </span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A debitis dignissimos ea earum exercitationem molestias nemo
                        nesciunt, quas quidem ut. Aperiam cupiditate dicta expedita nihil nobis provident, quisquam tempore ullam?
                    </p>
                </div>

                <div class="col xl6">
                    <div class="txt-uls">
                    <ul class="list-style-checked">
                        <li>fdhudhfu</li>
                        <li>dfsffd</li>
                        <li>dsfsf</li>
                        <li>sdfdsf</li>
                        <li>sdfsf</li>
                        <li>sdfsfs</li>
                    </ul>
                    </div>
                    </div>
                <div class="col xl6">
                    <div class="txt-uls">
                    <ul class="list-style-checked-r">
                        <li>fdhudhfu</li>
                        <li>dfsffd</li>
                        <li>dsfsf</li>
                        <li>sdfdsf</li>
                        <li>sdfsf</li>
                        <li>sdfsfs</li>
                    </ul>
                </div>
                </div>



                    <h1>Do you need essay help?</h1>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A debitis dignissimos ea earum exercitationem molestias nemo
                        nesciunt, quas quidem ut. Aperiam cupiditate dicta expedita nihil nobis provident, quisquam tempore ullam?
                    </p>
                    <div class="quotation">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur dolorem enim ex maiores nam natus. Ad aliquam deleniti
                        doloremque eligendi ipsam, labore nihil nisi quidem repellat sapiente tempore voluptas?
                    </div>

                    <h3>Do you need essay help?</h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A debitis dignissimos ea earum exercitationem molestias nemo
                        nesciunt, quas quidem ut. Aperiam cupiditate dicta expedita nihil nobis provident, quisquam tempore ullam?
                    </p>

                    <h4>Do you need essay help?</h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A debitis dignissimos ea earum exercitationem molestias nemo
                        nesciunt, quas quidem ut. Aperiam cupiditate dicta expedita nihil nobis provident, quisquam tempore ullam?
                    </p>


                    <h5>Do you need essay help?</h5>
                     <div class="column">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A debitis dignissimos ea earum exercitationem molestias nemo
                        nesciunt, quas quidem ut. Aperiam cupiditate dicta expedita nihil nobis provident, quisquam tempore ullam?
                    </p>
                     </div>


                <div class="social">
                    <i class="fa fa-clock-o" aria-hidden="true"></i> February 3 , 2015 in Personal life &nbsp;&nbsp;&nbsp;
                    <a href="#"><i class="fa fa-heart" aria-hidden="true"></i>34</a>
                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i>39</a>
                </div>
                <ul class="social right">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>

                </ul>
                <hr>
                <!--Form-->

                <div class="form">
                    <form action="">
                        <div class="row">
                            <h1>  Leave comment</h1>
                        </div>
                        <div class="row">
                            <div class="col xl4 m12 s12">
                                <label for="name">Name</label>
                                <input type="name" id="name" placeholder="Placeholder text">
                            </div>
                            <div class="col xl4  m12 s12">
                                <label for="email">Email</label>
                                <input type="name" id="email" placeholder="Placeholder text">
                            </div>
                            <div class="col xl4  m12 s12">
                                <label for="phone">Phone</label>
                                <input type="phone" id="phone" placeholder="Placeholder text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col xl12 l12 m12 s12">
                                <label for="text">Your comment</label>
                        <textarea name="text" id="text"></textarea>
                        <a class="waves-effect waves-light btn btn1 ">post comment</a>
                            </div>
                        </div>
                    </form>


                </div>


                </div>


<!--SIDEBAR-->
            <div class="col xl3 l3  m4 hide-on-small-and-down">
                //= sidebar.html
            </div>

        </div>
    </div>
</section>