<aside class="side-b">
    <input type="search" placeholder="Search">

    <h5 class="sb-title">Categories</h5>

    <ul class="list-style-arrow">
        <li>dds</li>
        <li>d</li>
        <li>d</li>
        <li>d</li>
    </ul>

    <h5 class="sb-title">Archive</h5>
    <ul>
        <li>dds</li>
        <li>d</li>
        <li>d</li>
        <li>d</li>
    </ul>

    <h5 class="sb-title">Latest blog</h5>

    <div class="sb-blog">
        <img src="../img/sb-b1.png" alt="">
        <h5>Standart gallery post</h5>
        <span><i class="fa fa-clock-o" aria-hidden="true"></i> February 3 , 2015 in Personal life</span>
    </div>

    <div class="sb-blog">
        <img src="../img/sb-b2.png" alt="">
        <h5>Standart gallery post</h5>
        <span><i class="fa fa-clock-o" aria-hidden="true"></i> February 3 , 2015 in Personal life</span>
    </div>

    <div class="sb-blog">
        <img src="../img/sb-b3.png" alt="">
        <h5>Standart gallery post</h5>
        <span><i class="fa fa-clock-o" aria-hidden="true"></i> February 3 , 2015 in Personal life</span>
    </div>

    <div class="accept">
        <h5>We accept</h5>
        <ul class="accept-list">
            <li class="accept-item"><i class="accept-icon accept-icon-paypal"></i></li>
            <li class="accept-item"><i class="accept-icon accept-icon-mastercard"></i></li>
            <li class="accept-item"><i class="accept-icon accept-icon-ucb"></i></li>
            <li class="accept-item"><i class="accept-icon accept-icon-visa"></i></li>
            <li class="accept-item"><i class="accept-icon accept-icon-2cc"></i></li>
            <li class="accept-item"><i class="accept-icon accept-icon-discover"></i></li>
            <li class="accept-item"><i class="accept-icon accept-icon-diners"></i></li>
            <li class="accept-item"><i class="accept-icon accept-icon-express"></i></li>
            <li class="accept-item"><i class="accept-icon accept-icon-skrill"></i></li>
        </ul>
    </div>



    <h5 class="sb-title">our advantages</h5>
    <ul class="list-style-arrow-right">
        <li>dds</li>
        <li>d</li>
        <li>d</li>
        <li>d</li>
    </ul>
    <a href="#" class="btn2 btn-large ad-btn">Place an order</a>

</aside>