.btn-large
    height: 50px
.btn1
    background-color: $p2
    font-size: 1.4rem
    font-weight: 400
    &:hover
        background-color: $p2l2
.btn2
    background-color: $p1d1
    font-size: 1.4rem
    font-weight: 500
    text-transform: capitalize
    &:hover
        background-color: $p1l2
.btn3
    background-color: transparent
    border: 1px solid $p2
    color: $p2
    font-size: 1.4rem
    font-weight: 400
    &:hover
        background-color: $p2l2
        border-color: $p2l2
        color: #fff
.btn4
    background-color: transparent
    border: 1px solid $p1d1
    color: $p1d1
    font-size: 1.4rem
    font-weight: 400
    text-transform: capitalize
    &:hover
        background-color: $p1l2
        border-color: $p1l2
        color: #fff
.btn-flat.disabled, .btn-flat:disabled, .btn-flat[disabled], .btn-floating.disabled, .btn-floating:disabled, .btn-floating[disabled], .btn-large.disabled, .btn-large:disabled, .btn-large[disabled], .btn.disabled, .btn:disabled, .btn[disabled], .disabled.btn-large, [disabled].btn-large
    border: none
    color: #fff!important
