// variables
$fontawesome: 'FontAwesome'
$f1: 'Popins', Arial, sans-serif
$f2: 'OpenSans', Arial, sans-serif
$f3: 'Museo', Arial, sans-serif

// fontawesome
@font-face
    font-family: 'FontAwesome'
    src: url('../fonts/fontawesome/fontawesome-webfont.eot?v=4.7.0')
    src: url('../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.7.0')format('embedded-opentype'),
    url('../fonts/fontawesome/fontawesome-webfont.woff2?v=4.7.0')format('woff2'),
    url('../fonts/fontawesome/fontawesome-webfont.woff?v=4.7.0')format('woff'),
    url('../fonts/fontawesome/fontawesome-webfont.ttf?v=4.7.0')format('truetype'),
    url('../fonts/fontawesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular')format('svg')
    font-weight: normal
    font-style: normal

// open sans

// regular
@font-face
    font-family: 'OpenSans'
    src: url('../fonts/regular/opensans/OpenSans-Regular.eot')
    src: url('../fonts/regular/opensans/OpenSans-Regular.eot')format('embedded-opentype'),
    url('../fonts/regular/opensans/OpenSans-Regular.woff2')format('woff2'),
    url('../fonts/regular/opensans/OpenSans-Regular.woff')format('woff'),
    url('../fonts/regular/opensans/OpenSans-Regular.ttf')format('truetype'),
    url('../fonts/regular/opensans/OpenSans-Regular.svg')format('svg')
    font-weight: 400
    font-style: normal

// bold
@font-face
    font-family: 'OpenSans'
    src: url('../fonts/bold/opensans/OpenSans-Bold.eot')
    src: url('../fonts/bold/opensans/OpenSans-Bold.eot')format('embedded-opentype'),
    url('../fonts/bold/opensans/OpenSans-Bold.woff2')format('woff2'),
    url('../fonts/bold/opensans/OpenSans-Bold.woff')format('woff'),
    url('../fonts/bold/opensans/OpenSans-Bold.ttf')format('truetype'),
    url('../fonts/bold/opensans/OpenSans-Bold.svg')format('svg')
    font-weight: 700
    font-style: normal

// bold italic
@font-face
    font-family: 'OpenSans'
    src: url('../fonts/bolditalic/opensans/OpenSans-BoldItalic.eot')
    src: url('../fonts/bolditalic/opensans/OpenSans-BoldItalic.eot')format('embedded-opentype'),
    url('../fonts/bolditalic/opensans/OpenSans-BoldItalic.woff2')format('woff2'),
    url('../fonts/bolditalic/opensans/OpenSans-BoldItalic.woff')format('woff'),
    url('../fonts/bolditalic/opensans/OpenSans-BoldItalic.ttf')format('truetype'),
    url('../fonts/bolditalic/opensans/OpenSans-BoldItalic.svg')format('svg')
    font-weight: 700
    font-style: italic

// italic
@font-face
    font-family: 'OpenSans'
    src: url('../fonts/italic/opensans/OpenSans-Italic.eot')
    src: url('../fonts/italic/opensans/OpenSans-Italic.eot')format('embedded-opentype'),
    url('../fonts/italic/opensans/OpenSans-Italic.woff2')format('woff2'),
    url('../fonts/italic/opensans/OpenSans-Italic.woff')format('woff'),
    url('../fonts/italic/opensans/OpenSans-Italic.ttf')format('truetype'),
    url('../fonts/italic/opensans/OpenSans-Italic.svg')format('svg')
    font-weight: 400
    font-style: italic

// light
@font-face
    font-family: 'OpenSans'
    src: url('../fonts/light/opensans/OpenSans-Light.eot')
    src: url('../fonts/light/opensans/OpenSans-Light.eot')format('embedded-opentype'),
    url('../fonts/light/opensans/OpenSans-Light.woff2')format('woff2'),
    url('../fonts/light/opensans/OpenSans-Light.woff')format('woff'),
    url('../fonts/light/opensans/OpenSans-Light.ttf')format('truetype'),
    url('../fonts/light/opensans/OpenSans-Light.svg')format('svg')
    font-weight: 300
    font-style: normal

// light italic
@font-face
    font-family: 'OpenSans'
    src: url('../fonts/lightitalic/opensans/OpenSans-LightItalic.eot')
    src: url('../fonts/lightitalic/opensans/OpenSans-LightItalic.eot')format('embedded-opentype'),
    url('../fonts/lightitalic/opensans/OpenSans-LightItalic.woff2')format('woff2'),
    url('../fonts/lightitalic/opensans/OpenSans-LightItalic.woff')format('woff'),
    url('../fonts/lightitalic/opensans/OpenSans-LightItalic.ttf')format('truetype'),
    url('../fonts/lightitalic/opensans/OpenSans-LightItalic.svg')format('svg')
    font-weight: 300
    font-style: italic

// semi bold
@font-face
    font-family: 'OpenSans'
    src: url('../fonts/semibold/opensans/OpenSans-Semibold.eot')
    src: url('../fonts/semibold/opensans/OpenSans-Semibold.eot')format('embedded-opentype'),
    url('../fonts/semibold/opensans/OpenSans-Semibold.woff2')format('woff2'),
    url('../fonts/semibold/opensans/OpenSans-Semibold.woff')format('woff'),
    url('../fonts/semibold/opensans/OpenSans-Semibold.ttf')format('truetype'),
    url('../fonts/semibold/opensans/OpenSans-Semibold.svg')format('svg')
    font-weight: 600
    font-style: normal

// semi bold italic
@font-face
    font-family: 'OpenSans'
    src: url('../fonts/semibolditalic/opensans/OpenSans-SemiboldItalic.eot')
    src: url('../fonts/semibolditalic/opensans/OpenSans-SemiboldItalic.eot')format('embedded-opentype'),
    url('../fonts/semibolditalic/opensans/OpenSans-SemiboldItalic.woff2')format('woff2'),
    url('../fonts/semibolditalic/opensans/OpenSans-SemiboldItalic.woff')format('woff'),
    url('../fonts/semibolditalic/opensans/OpenSans-SemiboldItalic.ttf')format('truetype'),
    url('../fonts/semibolditalic/opensans/OpenSans-SemiboldItalic.svg')format('svg')
    font-weight: 600
    font-style: italic

// extra bold
@font-face
    font-family: 'OpenSans'
    src: url('../fonts/extrabold/opensans/OpenSans-ExtraBold.eot')
    src: url('../fonts/extrabold/opensans/OpenSans-ExtraBold.eot')format('embedded-opentype'),
    url('../fonts/extrabold/opensans/OpenSans-ExtraBold.woff2')format('woff2'),
    url('../fonts/extrabold/opensans/OpenSans-ExtraBold.woff')format('woff'),
    url('../fonts/extrabold/opensans/OpenSans-ExtraBold.ttf')format('truetype'),
    url('../fonts/extrabold/opensans/OpenSans-ExtraBold.svg')format('svg')
    font-weight: 800
    font-style: normal

// extra bold italic
@font-face
    font-family: 'OpenSans'
    src: url('../fonts/extrabold/opensans/OpenSans-ExtraBoldItalic.eot')
    src: url('../fonts/extrabold/opensans/OpenSans-ExtraBoldItalic.eot')format('embedded-opentype'),
    url('../fonts/extrabold/opensans/OpenSans-ExtraBoldItalic.woff2')format('woff2'),
    url('../fonts/extrabold/opensans/OpenSans-ExtraBoldItalic.woff')format('woff'),
    url('../fonts/extrabold/opensans/OpenSans-ExtraBoldItalic.ttf')format('truetype'),
    url('../fonts/extrabold/opensans/OpenSans-ExtraBoldItalic.svg')format('svg')
    font-weight: 800
    font-style: italic

// end open OpenSans

// regular
@font-face
    font-family: 'Popins'
    src: url('../fonts/regular/popins/Popins-Regular.eot')
    src: url('../fonts/regular/popins/Popins-Regular.eot')format('embedded-opentype'),
    url('../fonts/regular/popins/Popins-Regular.woff2')format('woff2'),
    url('../fonts/regular/popins/Popins-Regular.woff')format('woff'),
    url('../fonts/regular/popins/Popins-Regular.ttf')format('truetype'),
    url('../fonts/regular/popins/Popins-Regular.svg')format('svg')
    font-weight: 400
    font-style: normal

// medium
@font-face
    font-family: 'Popins'
    src: url('../fonts/medium/popins/Popins-Medium.eot')
    src: url('../fonts/medium/popins/Popins-Medium.eot')format('embedded-opentype'),
    url('../fonts/medium/popins/Popins-Medium.woff2')format('woff2'),
    url('../fonts/medium/popins/Popins-Medium.woff')format('woff'),
    url('../fonts/medium/popins/Popins-Medium.ttf')format('truetype'),
    url('../fonts/medium/popins/Popins-Medium.svg')format('svg')
    font-weight: 500
    font-style: normal

// light
@font-face
    font-family: 'Popins'
    src: url('../fonts/light/popins/Popins-Light.eot')
    src: url('../fonts/light/popins/Popins-Light.eot')format('embedded-opentype'),
    url('../fonts/light/popins/Popins-Light.woff2')format('woff2'),
    url('../fonts/light/popins/Popins-Light.woff')format('woff'),
    url('../fonts/light/popins/Popins-Light.ttf')format('truetype'),
    url('../fonts/light/popins/Popins-Light.svg')format('svg')
    font-weight: 300
    font-style: normal

// bold
@font-face
    font-family: 'Popins'
    src: url('../fonts/bold/popins/Popins-Bold.eot')
    src: url('../fonts/bold/popins/Popins-Bold.eot')format('embedded-opentype'),
    url('../fonts/bold/popins/Popins-Bold.woff2')format('woff2'),
    url('../fonts/bold/popins/Popins-Bold.woff')format('woff'),
    url('../fonts/bold/popins/Popins-Bold.ttf')format('truetype'),
    url('../fonts/bold/popins/Popins-Bold.svg')format('svg')
    font-weight: 700
    font-style: normal

// semi bold
@font-face
    font-family: 'Popins'
    src: url('../fonts/semibold/popins/Popins-SemiBold.eot')
    src: url('../fonts/semibold/popins/Popins-SemiBold.eot')format('embedded-opentype'),
    url('../fonts/semibold/popins/Popins-SemiBold.woff2')format('woff2'),
    url('../fonts/semibold/popins/Popins-SemiBold.woff')format('woff'),
    url('../fonts/semibold/popins/Popins-SemiBold.ttf')format('truetype'),
    url('../fonts/semibold/popins/Popins-SemiBold.svg')format('svg')
    font-weight: 600
    font-style: normal

// other
// museo
@font-face
    font-family: 'Museo'
    src: url('../fonts/other/museo/MuseoSans-500.eot')
    src: url('../fonts/other/museo/MuseoSans-500.eot')format('embedded-opentype'),
    url('../fonts/other/museo/MuseoSans-500.woff2')format('woff2'),
    url('../fonts/other/museo/MuseoSans-500.woff')format('woff'),
    url('../fonts/other/museo/MuseoSans-500.ttf')format('truetype'),
    url('../fonts/other/museo/MuseoSans-500.svg')format('svg')
    font-weight: 400
    font-style: normal
