html{
   font-size: 62.5%;
 }



//H1-H6  Pargraph & Subtitle text


h1{
  font-size:3.5rem;
  font-family:$f1;
  font-weight:700;
  color: $p4d3;
}

h2{
  font-size:3.3rem;
  font-family:$f1;
  font-weight:500;
  color: $p4d2;
}

h3{
   font-size:2.7rem;
   font-family:$f1;
   font-weight:600;
   color: $p4d3;
 }

h4{
  font-size:2.2rem;
  font-family:$f1;
  font-weight:500;
  color: $p4d3;
}

h5{
  font-size:1.7rem;
  font-family:$f1;
  font-weight:500;
  color: $p4d3;
}

h6{
  font-size:1.5rem;
  font-family:$f1;
  font-weight:500;
  color: $p4d3;
}

p{
  font-size:1.4rem;
  font-family:$f1;
  font-weight:400;
  color: $p4d3;
}

.subtitle{
  font-size:2.0rem;
  font-family:$f1;
  font-weight:500;
  color: $p4d1;
}

.quotation{
  font-size:1.7rem;
  font-family:$f1;
  font-weight:400;
  color: $p1d1;
  background-color: $p1l3;
  padding:2%;
}

li{
  font-size:1.5rem;
  font-family:$f1;
  font-weight:500;
  color: $p4d3;
}

/*===== list style =====*/
ul.list-style-checked{
  list-style: none;
  font-size: 1.5rem;
  li{
    list-style: none;
    &:before{
      content: '\f00c';
      font-family: $fontawesome;
      background-color: $p1;
      border-radius: 50%;
      color: #fff;
      font-size: 1.1rem;
      padding: 2px;
      margin-right: 8px;
      vertical-align: middle;
    }
  }

}


ul.list-style-checked-r{
  list-style: none;
  font-size: 1.5rem;
  li{
    list-style: none;
    &:before{
      content: '\f046';
      font-family: $fontawesome;
      border-radius: 50%;
      color: $p2;
      font-size: 1.5rem;
      padding: 2px;
      margin-right: 8px;
      vertical-align: middle;
    }
  }

}

ul.list-style-arrow{
  list-style: none;
  font-size: 1.5rem;
  li{
    list-style: none;
    &:before{
      content: '\f124';
      font-family: $fontawesome;
      background-color: $p1;
      border-radius: 50%;
      color:#fff;
      font-size: 1.1rem;
      padding: 2px 4px;
      margin-right: 8px;
      vertical-align: middle;
    }
  }
}

ul.list-style-arrow-right{
  list-style: none;
  font-size: 1.5rem;
  li{
    list-style: none;
    &:before{
      content: '\f061';
      font-family: $fontawesome;
      background-color: $p1;
      border-radius: 50%;
      color: #fff;
      font-size: 1.1rem;
      padding: 2px 3px;
      margin-right: 8px;
      vertical-align: middle;
    }

  }

}


input:placeholder{
  font-size: 1.3rem;
  color: $p4;}
input:not([type]),
input[type=date]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=search]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=text]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=url]:not(.browser-default),
textarea.materialize-textarea
{
  border: none;
  font-size: 1.3rem;
  outline: none;
  padding: 15px;
  background-color:$bgColorInput;
  border: 1px solid $borderColorInput;
  color: $p4;
  line-height: 1;
  border-radius: 3px;
}
input:not([type]):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly])
{
  border: none;
  border: 1px solid $p1;
  background-color: #fff;
  box-shadow: none;
  font-size: 1.3rem;
  line-height: 1;
}
input:not([type]):hover:not([readonly]),
input[type=date]:not(.browser-default):hover:not([readonly]),
input[type=datetime-local]:not(.browser-default):hover:not([readonly]),
input[type=datetime]:not(.browser-default):hover:not([readonly]),
input[type=email]:not(.browser-default):hover:not([readonly]),
input[type=number]:not(.browser-default):hover:not([readonly]),
input[type=password]:not(.browser-default):hover:not([readonly]),
input[type=search]:not(.browser-default):hover:not([readonly]),
input[type=tel]:not(.browser-default):hover:not([readonly]),
input[type=text]:not(.browser-default):hover:not([readonly]),
input[type=time]:not(.browser-default):hover:not([readonly]),
input[type=url]:not(.browser-default):hover:not([readonly]),
textarea.materialize-textarea:hover:not([readonly])
{  background-color:#fff;
}

.dropdown-content li>a,
.dropdown-content li>span{
  font-size: 1.3rem;
  padding: 20px 15px;
  display: block;
  color: $p4;
}
.select-dropdown li{
  color: $p4;
}
.select-dropdown.dropdown-content li:hover,
.select-dropdown.dropdown-content li.selected{
  background-color: $p1l3;
}

.select-wrapper span.caret{
  z-index: 5;
}

[type=radio]:checked+label, [type=radio]:not(:checked)+label{
  padding-left: 0;
}
[type=radio].with-gap:checked+label:after, [type=radio].with-gap:checked+label:before, [type=radio]:checked+label:after, [type=radio]:not(:checked)+label:after,
[type=radio]:not(:checked)+label:before{
  border-color: $p1;}

[type=radio].with-gap:checked+label:after, [type=radio]:checked+label:after{
  background-color: $p1;
}

.disabled{
  margin-left: 20px;
}

[type=radio]:not(:checked)+label.disabled:after{
  transform: scale(.5);
  background-color: rgba(0,0,0,.42);
}

@mixin ctext($align, $fw , $pd){

  text-align: $align;
  font-weight:$fw;
  padding:$pd;

}