$mobile: 600px;
$tablet: 600px;
$desktop: 992px;
$largeDesktop: 1200px;

$minMobile: "screen and (min-width:#{$mobile})";
$minDesktop: "screen and (min-width:#{$desktop})";
$minLargeDesktop: "screen and (min-width:#{$largeDesktop})";

$maxMobile: "screen and (max-width:#{$mobile})";
$maxTablet: "screen and (max-width:#{$tablet})";
$maxDesktop: "screen and (max-width:#{$desktop})";
$maxLargeDesktop: "screen and (max-width:#{$largeDesktop})";

//$s-discover : 0px 0px 0px 0px 98px 16px 300px 11482px '../img/sprites/sprite.png';
//$s-jcb : 0px 5238px 0px -5238px 40px 31px 300px 11482px '../img/sprites/sprite.png';
//$s-mastercard : 0px 2080px 0px -2080px 139px 24px 300px 11482px '../img/sprites/sprite.png';
//$s-paypal : 0px 3129px 0px -3129px 104px 26px 300px 11482px '../img/sprites/sprite.png';
//$s-shape-blue : 0px 10203px 0px -10203px 74px 74px 300px 11482px '../img/sprites/sprite.png';
//$s-shape-orange : 0px 10777px 0px -10777px 74px 74px 300px 11482px '../img/sprites/sprite.png';
//$s-skrill : 0px 4709px 0px -4709px 58px 29px 300px 11482px '../img/sprites/sprite.png';
//$s-user : 0px 6845px 0px -6845px 39px 51px 300px 11482px '../img/sprites/sprite.png';
//$s-visa : 0px 1557px 0px -1557px 71px 23px 300px 11482px '../img/sprites/sprite.png';